.Username {
  padding: 20px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.Role__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #5b6670;
  text-transform: uppercase;
}

.Role {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: black;
}
