.Table {
  width: 100%;
}

.Table__row {
  min-height: 50px;
}

.Table__heading {
  height: 50px;
  padding: 4px 8px;
  border: 1px solid white;
  border-collapse: collapse;
  background: #9a99a2;
  color: white;
  font-size: 16px;
  line-height: 50px;
  text-align: start;
}

.Table__item {
  height: 50px;
  border: 1px solid #eaeced;
  border-collapse: collapse;
  padding: 0 8px;
  font-size: 16px;
  line-height: 50px;
  text-align: start;
}
