.CatalogueMenu {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 1160px;
}

.CatalogueButtons {
  display: flex;
  width: 1160px;
  justify-content: start;

  &__button {
    margin-top: 20px;
    margin-right: 10px;
  }
}
