@import "~@scss/theme.scss";

.button {
    padding-right: 10px;
    padding-left: 0;
}

.button__text {
    font-style: 400;
    font-size: 16px;
    text-align: left;
}

.button_theme {
    border: none;
    outline: none;
    background-color: white;
}

.button_theme_blue { // Голубые кнопки вида "Показать все"
    color: $blue-light;
}

.button_theme_blue:hover {
    color: $blue-dark;
    cursor: pointer;
}

.button_theme_blue:active {
    color: $blue-dark;
}

.button_theme_red { // Красные кнопки типа "Удалить выбранное"
    color: $red-light;
}

.button_theme_red:hover{
    color: $red-dark;
    cursor: pointer;
}

.button_theme_red:active{
    color: $red-dark;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .button__text {
        font-size: 10px;
    }

    .button {
        padding-left: 0;
        padding-right: 8px;
    }
}


/*
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .button__text {
        font-size: 14px;
    }
}
*/