ol {
  list-style: none;
  display: flex;
  align-items: center;
}

.Container {
  display: inline-block;
}

.Breadcrumb {
  font-size: 14px;
  line-height: 18px;
}

.Separator {
  color: #333;
  margin: auto 6px;
  user-select: none;
}
